<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BxBarber"
        tools:targetApi="31">
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".tela_login"
            android:exported="false" />
        <activity
            android:name=".TelaCadastro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tela_servicosBarbearia"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Tela_profissionais"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Tela_DetalheBarbeiro"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Tela_profissionais"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tela_profissionais" />
        </activity>
        <activity
            android:name=".Tela_historico"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Tela_classificacao_barbeiro"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Tela_profissionais"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Tela_noticias"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Tela_profissionais"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Tela_ajuda"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Tela_profissionais"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Tela_Agendamento"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Tela_profissionais"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tela_ajuda" />
        </activity>

        <activity
            android:name=".Tela_listAgendamento"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Tela_profissionais"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>